name: test

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  id-token: write # This is required for codecov/codecov-action
  contents: read  # This is required for actions/checkout

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2','3.3', '3.4']
        rails: ['6.1', '7.0', '7.1', '7.2']
        exclude:
          # Rails 7.2 requires Ruby 3.1+
          - ruby: '3.1'
            rails: '7.2'
          # Rails 7.1 requires Ruby 3.1+
          - ruby: '3.1'
            rails: '7.1'
          # Rails 6.1 requires Ruby under 3.3
          - ruby: '3.4'
            rails: '6.1'

    runs-on: ubuntu-22.04

    env:
      RAILS_VERSION: ${{ matrix.rails }}

    steps:
      - uses: actions/checkout@v4

      - uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3306
          container port: 3306
          character set server: 'utf8mb4'
          collation server: 'utf8mb4_general_ci'
          mysql version: '5.7'
          mysql database: 'resizing_gem_test'
          mysql root password: secret

      - name: "Install ruby dependencies"
        run: |
          sudo apt update
          sudo apt install -y libyaml-dev curl libmysqlclient-dev

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: false

      - name: bundle install
        run: |
          bundle install

      - name: Run test
        run: |
          bundle exec rake test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
